{% extends 'main/base.html' %}

{% block title %}
Запис
{% endblock %}

{% block content %}
<div class = "cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 align="right"><strong>Блог</strong></h1>
    {% for el in scroll %}
    <div class="content-main mt-2">
        <h3>{{ el.title_name}}. </h3><h6 align="right"><small>Дата публікації: {{ el.posted_date }}</small></h6>
        <div class="alert alert-success"><p>{{ el.text }}</p></div>
    </div>
    {% endfor %}
</div>

{% endblock %}